/PrjMySQL/.vs/PrjMySQL/FileContentIndex/310a4ca4-de0e-491f-8fc9-81078011175c.vsidx
/PrjMySQL/.vs/PrjMySQL/FileContentIndex/read.lock
/PrjMySQL/.vs/PrjMySQL/v17/.suo
/PrjMySQL/.vs/PrjMySQL/v17/Browse.VC.db
/PrjMySQL/.vs/PrjMySQL/v17/ipch/AutoPCH/e995cbe22ad16c3/PRJMYSQL.ipch
/PrjMySQL/PrjMySQL/x64/Debug/PrjMySQL.Build.CppClean.log
/PrjMySQL/PrjMySQL/x64/Debug/PrjMySQL.exe.recipe
/PrjMySQL/PrjMySQL/x64/Debug/PrjMySQL.ilk
/PrjMySQL/PrjMySQL/x64/Debug/PrjMySQL.log
/PrjMySQL/PrjMySQL/x64/Debug/PrjMySQL.obj
/PrjMySQL/PrjMySQL/x64/Debug/PrjMySQL.tlog/CL.command.1.tlog
/PrjMySQL/PrjMySQL/x64/Debug/PrjMySQL.tlog/CL.read.1.tlog
/PrjMySQL/PrjMySQL/x64/Debug/PrjMySQL.tlog/CL.write.1.tlog
/PrjMySQL/PrjMySQL/x64/Debug/PrjMySQL.tlog/Cl.items.tlog
/PrjMySQL/PrjMySQL/x64/Debug/PrjMySQL.tlog/PrjMySQL.lastbuildstate
/PrjMySQL/PrjMySQL/x64/Debug/PrjMySQL.tlog/link.command.1.tlog
/PrjMySQL/PrjMySQL/x64/Debug/PrjMySQL.tlog/link.read.1.tlog
/PrjMySQL/PrjMySQL/x64/Debug/PrjMySQL.tlog/link.write.1.tlog
/PrjMySQL/PrjMySQL/x64/Debug/PrjMySQL.vcxproj.FileListAbsolute.txt
/PrjMySQL/PrjMySQL/x64/Debug/prjmysql.obj.enc
/PrjMySQL/PrjMySQL/x64/Debug/vc143.idb
/PrjMySQL/PrjMySQL/x64/Debug/vc143.pdb
/PrjMySQL/x64/Debug/PrjMySQL.exe
/PrjMySQL/x64/Debug/PrjMySQL.pdb
/PrjMySQL/.vs/PrjMySQL/FileContentIndex/46a79620-110b-4cd8-93d9-fa2ded057a71.vsidx
/PrjMySQL/.vs/PrjMySQL/v17/Browse.VC.db-shm
/PrjMySQL/.vs/PrjMySQL/v17/Browse.VC.db-wal
/PrjMySQL/.vs/PrjMySQL/v17/Browse.VC.opendb
